* {
  box-sizing: border-box;
  font-family: monospace;
}
#title {
  font-family: "Lucida Console", Courier, monospace;
}
#banner {
  width: 400px;
  justify-content: center;
  margin: 0 auto;
  margin-left: 42%;
}
#board {
  width: 640px;
  height: 640px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
#restart {

  text-align: center;
  color: purple;
  font-size: 24px;
  border: 1px solid black;
  width: 150px;
  background-color: lightblue;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

#wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tile {
  background: #F0F0F0;
  color: darkblue;
  width: 30px;
  height: 30px;
  border: 1px solid #696969;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

#board button {
  width: 40px;
  height: 40px;
}

#message {
  color: red;
}

#title {
  text-align: center;
}

#outcome {
  text-align: center;
  margin: 0 auto;
  color: green;
  font-weight: 400;
  font-size: 54px;
}
